<form (submit)="onSubmit(location.value, startDate.value, durationInDays.value); $event.preventDefault()">
    <label for="location">Location:</label>
    <input #location type="text" id="location" name="location"><br><br>
    <label for="startDate">Starting date:</label>
    <input #startDate type="text" id="startDate" name="startDate"><br><br>
    <label for="durationInDays">Duration in days:</label>
    <input #durationInDays type="number" id="durationInDays" name="durationInDays"><br><br>
    <input type="submit" value="Create">
</form>